.partners-content {
    padding: rem(157);


    h1 {
        @include heading1;
        color: var(--footer-bg-color);
    }
}


.partners-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(-120);
    margin-bottom: rem(50);
    margin-left: rem(157);
    margin-right: rem(157);

    >*:not(:last-child) {
        margin-right: rem(10);
    }
}